body {
    /* background-image: url(Sample.jpg); */
    background-color: rgb(255, 255, 255);
    background-repeat:no-repeat;

   background-size:cover;
 }

.icon {
  
  margin-left: 1.8px;
  margin-top:9px;
  margin-right: 1.8px;
}



div.stickyNavBottom {
    position: sticky;
    width: 100%;
    position: fixed;
    overflow: hidden;
    height: 55px;
    left: 0px;
    bottom:0px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
  }

  
img.homeIcon{
    position: absolute;
    width:100px; height: auto;
}


.circle-container {
    position: relative;
    width: 12em;
    height: 12em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: fixed;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2.5em;
}
.circle-container img { display: block; width: 50%; }
.deg0 { transform: rotate(2deg) translate(8em) rotate(-2deg);} /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(48deg) translate(11em) rotate(-48deg); }
.deg90 {transform: rotate(90deg) translate(9em) rotate(-90deg); }
.deg135 { transform: rotate(127deg) translate(10.5em) rotate(-127deg); }
.deg180 { transform: translate(-9em); }
.deg225 { transform: rotate(225deg) translate(9em) rotate(-225deg); }
.deg270 {transform: rotate(268deg) translate(9em) rotate(-268deg); }
.deg315 { transform: rotate(320deg) translate(9em) rotate(-320deg); }